body {
  background-color: #7891F5;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: #FFF;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 30%;
  height: auto;
  margin: 5px auto;
  border-radius: 5px;
}

button {
  background-color: #78B8F5;
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;

  font-family: "Rowdies", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

blockquote {
  font-size: 1em;
  line-height: 150%;
  color: grey;
}

p, li {
  font-family: "Rowdies", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}

.primaryHeader {
  font-size: 4rem;
}

.subheader {
  color: #FFF;
  font-weight: 500;
}

.container {
  text-align: center;
  padding-top: 20px;
  margin: 1rem;
  
}

.maininfo {
  background-color: #78B8F5;
  padding: 2rem;
  margin: 50px
}

.footerInfo {
  background-color: #78B8F5;
  padding: 1rem;
  text-align: center;
}


/* Hobbies */

#hobbies {
  background-color: #78B8F5;
  padding: 1rem;
  margin: 50px;
}
#hobbies ul {
  color: #FFF;
  background-color: #78B8F5;
}


/* Gallery */

#gallery {
  border: 3px solid #7891F5;
}

#gallery img {
  max-width: 100%;

}

#gallery figure {
  text-align: center;
  color: #3f4750;
  font-size: 130%;
}